/* styles.css */
body
{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

.progresswnd
{
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: progress !important;
    z-index: 100;
}

.translucent
{
    background: #0000001f;
}

.menubar
{
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2px;
}

.menubaritem
{
    font-size: small;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    transition: all linear 0.1s;
    padding: 0 5px 0 5px;
    margin: 1px 1px 1px 1px;
    display: flex;
}

.menubaritem:hover
{
    background-color: #ffffff22;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 0.2rem;
}

.menubaritemtext
{
    margin-top: auto;
    margin-bottom: auto;
}

.menubaritemclicked
{
    background-color: #00000022 !important;
    border: 1px solid rgb(159, 159, 159) !important;
    border-radius: 0.2rem !important;
    transition: none !important;
}

.menu
{
    border: 1px solid rgb(159, 159, 159) !important;
    border-radius: 0.2rem !important;
    position: fixed;
    top: 24px;
}

.menuitem
{
    width: auto;
    height: 24px;
    display: flex;
    user-select: none;
}

.menuitem:hover
{
    background: linear-gradient(#9a8cee, #7d6fca);
    color: white;
}

.menuitemtext
{
    margin: auto 4px auto 4px;
    font-size: small;
}

.menuicon
{
    height: 24px;
    height: 24px;
    margin: auto 2px auto 2px;
}

.toolbar
{
    height: 36px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    user-select: none;
    padding-left: 2px;
    padding-top: 2px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer
{
    height: 28px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid grey;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: small;
    user-select: none;
}

.gradient
{
    background: linear-gradient(white, rgb(224, 224, 224));
    color: black;
}

@media (prefers-color-scheme: dark) {
    body
    {
        background: #1e1d1e;
        color: white;
    }

	.gradient
    {
        background: linear-gradient(rgb(84, 84, 84), #1e1d1e);
        color: white;
    }

    .translucent
    {
        background: #ffffff1f;
    }
}

.toolicon
{
    width: 24px;
    height: 24px;
    margin: auto;
}
    
.toolbutton
{
    min-width: 32px;
    width: auto;
    height: 32px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1px;
    display: flex;
    align-items: center;
    transition: all linear 0.1s;
}

.toolbutton:hover
{
    background-color: #ffffff22;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 0.2rem;
}

.toolbutton:active
{
    background-color: #00000022;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 0.2rem;
    transition: none;
}

.editor
{
    width: 100%;
    height: calc(100% - 92px);
    border: none;
    padding: 0;
    font-family: 'Open Sans';
}
/* Add styles here to customize the appearance of your app */